/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* google fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.active {
  color: #ff444a;
  border-bottom: 2px solid;
}

.hero-bg {
  background-image: url("https://i.ibb.co/YQPPVvp/hero-bg.jpg");
}

.search-btn {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  background: #ff444a;
}
